/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Address Cards */
.address-cards {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.address-cards:hover {
    background-color: #e9e9e9;
}

/* Checkout Form */
.checkoutAddress div,
.payment-method-container div,
.shipping-method-container div {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
}

/* To align radio buttons and labels on the same line */
.payment-method-container label,
.shipping-method-container label {
    margin-left: 5px;
}

.payment-method-container div,
.shipping-method-container div {
    /* display: flex; */
    align-items: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
