footer{
    background-color: #121C2C;
}
.footer-bottom{
    border-top: 1px solid gray;
    margin: 0 2%;
    padding: 20px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}
.footer-bottom div{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footer-bottom div a{
    color: gray;
}
.footer-top{
    padding: 20px 5%;
}
.footer-top p{
    margin: 5px;
}
.footer-top p a{
    margin-left: 10px;
    color: gray;
}