.dashboard {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-info,
  .shipping-info {
    flex: 1;
    padding: 10px;
  }
  
  h2 {
    color: #333;
  }
  
  strong {
    font-weight: bold;
  }
  
  span {
    color: #666;
  }